<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="footer">
      <div class="footer-center">
        <p><strong>{{location_name}}</strong></p>
        <p>
           {{ filllocation}}
        </p>
        <img src="./assets/qr-code.png" class="qr-code" alt="QR Code" />
    </div>

      <div class="footer-left">
        <p>{{ bookmark}}</p>
        <p>!2/03/2002 22 10:00 AM</p>
        <p>Admin</p>
      
      </div>
     
    </div>
  </body>
</html>
